<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <!-- Add any CSS or external libraries here -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}">
  {% block head %}{% endblock %}
</head>

<body>
  <header>
    <!-- Add your header content here -->
    <h1>{{ title }}</h1>
    <nav>
      <ul>
        {% block nav %}
        <li><a href="{{ url_for('home.Home') }}">Home</a></li>
        {% for n in nav %}
        <li><a href="{{ n[0] }}">{{ n[1] }}</a></li>
        {% endfor %}
        {% endblock %}
      </ul>
    </nav>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </header>
  <main>
    <!-- Add dynamic content and Flask-specific code as needed -->
    {% block content %}Under construction...{% endblock %}
  </main>
  <footer>
    <!-- Add your footer content here -->
    <p>&copy; 2024 TBS. All rights reserved.</p>
  </footer>
  {% block scripts %}
  <!-- Add any JavaScript or external scripts at the end of the body -->
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  {% endblock %}
</body>

</html>