{% import 'macros.html' as macros %}

<form id="edit" method="post" onsubmit="validateForm('edit');">
    <table id="edit" class="table">
        {% for row, attr in schema.__dict__['_declared_fields'].items() %}
        {% if not attr.dump_only %}
        {% set value = info[row] or '' %}
        {% set required = 'required' if attr.required%}
        <tr>
            {{ macros.header(row, map) }}
            <td>
                <table>
                    <tr>
                        <td>
                            {% if row in map %}
                            {% if type(attr).__name__ == 'List' %}
                            {{ macros.list(info[row], info_lists_url[row]) }}
                            {% else %}
                            {{ macros.select(row, value, required, map) }}
                            {% endif %}
                            {% elif type(attr).__name__ in ('Float', 'Integer') %}
                            {{ macros.number(row, value, required, attr) }}
                            {% elif type(attr).__name__ == 'Url' %}
                            {{ macros.pic_url(row, value, required) }}
                            {% else %}
                            {{ macros.text(row, value, required, attr) }}
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <input type="submit" value="{{ submit }}">
    {% if update %}
    <input type="button" value="Cancel" onclick="javascript:location.href='{{ request.path }}'">
    <input type="button" value="Delete" onclick="sendDeleteRequest('{{ request.path }}', '{{ request.path }}')">
    {% endif %}
</form>