<table id="{{ table['name'] }}" class="table table-striped">
    <thead>
        <tr>
            {% for header in table['headers'] %}
            {% if header in table['pics'] %}
            <th></th>
            {% else %}
            <th>{{ header.capitalize() }}</th>
            {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row, ref in zip(table['rows'], table['refs']) %}
        <tr>
            {% for header in table['headers'] %}
            {% if header in ref %}
            <td>
                <a href="{{ ref[header] }}">{{ row[header] }}</a>
            </td>
            {% elif header in table['pics'] %}
            <td style="width: 10%;">
                <div style="text-align: center;"><img src="{{ row[header] }}" height="32px"></div>
            </td>
            {% else %}
            <td>
                {{ row[header] }}
            </td>
            {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>