{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
{% endblock %}

{% block nav %}
{{ super() }}
{% if current_user.is_authenticated %}
<li><a href="{{ url_for('user.Logout') }}">Logout</a></li>
{% endif %}
{% endblock %}

{% block content %}
{% if update %}
{% include 'generic/edit_form.html' %}
{% else %}
{% include 'generic/info_table.html' %}
{% endif %}
{% for table in tables %}
<h3>{{ table['name'].capitalize() }}</h3>
{% include 'generic/list_table.html' %}
{% endfor %}
{% endblock %}